<nz-table
  #basicTable
  [nzData]="displayProducts"
  [nzLoading]="loading"
  [nzNoResult]="'Nenhum produto encontrado.'"
  [nzShowPagination]="false"
  class="table"
>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th>Data de Cadastro</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of displayProducts">
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>R$ {{ product.price | number: '1.2-2' }}</td>
      <td>{{ product.registerDate | date:'dd/MM/yyyy HH:mm' }}</td>
      <td class="actions">
        <div class="flex gap-2 actions-wrapper">
          <button
            nzType="primary"
            nzSize="small"
            (click)="edit(product)"
            class="btn-action"
          >
            <span class="icon" nz-icon nzType="edit" nzTheme="outline"></span>
          </button>

          <button
            nzType="primary"
            nzDanger
            nzSize="small"
            (click)="delete(product?.id)"
            class="btn-action"
          >
            <span class="icon" nz-icon nzType="delete" nzTheme="outline"></span>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>

<div class="pagination-container">
  <nz-pagination
    [nzPageIndex]="pageIndex"
    [nzPageSize]="5"
    [nzTotal]="total"
    [nzShowSizeChanger]="false"
    [nzShowQuickJumper]="false"
    (nzPageIndexChange)="onPageIndexChange($event)"
  ></nz-pagination>
</div>

<div class="mt-4">
  <button class="btn btn-add" nz-button nzType="primary" (click)="onCreateClick()">Novo Produto</button>
</div>
