<nz-table
  [nzData]="products"
  [nzPageSize]="5"
  [nzFrontPagination]="true"
  [nzShowSizeChanger]="false"
  [nzLoading]="loading"
  [nzScroll]="{ x: '768px' }"
  [nzShowQuickJumper]="true"
  [nzShowPagination]="products.length > 5"
  [nzNoResult]="'Nenhum produto encontrado.'"
>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th>Data de Cadastro</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>R$ {{ product.price | number: '1.2-2' }}</td>
      <td>{{ product.createdAt | date: 'dd/MM/yyyy' }}</td>
      <td>
        <div class="flex gap-2">
          <button
            nz-button
            nzType="primary"
            nzSize="small"
            (click)="edit(product)"
          >
            <i nz-icon nzType="edit"></i>
            Editar
          </button>

          <button
            nz-button
            nzType="primary"
            nzDanger
            nzSize="small"
            (click)="delete(product?.id)"
          >
            <i nz-icon nzType="delete"></i>
            Excluir
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>

<div class="mt-4">
  <button nz-button nzType="primary" (click)="onCreateClick()">Novo Produto</button>
</div>
